.embedded-marketo-form .mktoForm {
	width: 100% !important;
	&, * {
	    box-sizing: border-box;
	    padding: 0px;
	}
	&:after {
		content: '.';
		clear: both;
		visibility: hidden;
		color: transparent;
	}
	.mktoRequiredField .mktoAsterix,
	.mktoAsterix,
	.mktoClear,
	.mktoGutter,
	.mktoOffset,
	.mktoFormRow.hidden {
		display: none;
	}
	.mktoFormCol,
	.mktoFieldWrap {
		width: 100%;
	}
	.mktoFormCol {
		margin: 0px !important;
	}
	.mktoFormRow,
	.mktoButtonRow {
		float: left;
		clear: both;
		width: 100%;
		margin: 5px 0px;
	}
	input[type="url"],
	input[type="text"],
	input[type="date"],
	input[type="tel"],
	input[type="email"],
	input[type="number"],
	textarea.mktoField,
	select.mktoField {
	    height: auto;
	    line-height: normal;
	    font-size: inherit;
	}
	.mktoFormRow {
		.mktoRequiredField label.mktoLabel {
			font-weight: normal;
		}
		label,
		input,
		textarea,
		select {
			clear: both;
			box-sizing: border-box;
			font-size: 1rem;
			line-height: 1rem;
			color: #969696;
			font-weight: normal;
			width: 100% !important;
			margin: 0px 0px 5px 0px;
		}
		label {
			float: left;
			text-transform: uppercase;
			padding-left: 10px;
		}
		input,
		textarea,
		select {
			float: right;
			min-height: 30px;
		}
		input,
		textarea {
			padding: 6px 8px;
			border: 1px solid #e1e1e1;
		}
		input[type=checkbox] {
			float: left;
			clear: left;
			width: 30px !important;
			padding: 0px;
			margin: 0px;
			border: none;
		}
		select {
			padding: 6px 0px;
		}
		textarea {
			height: auto;
		}
		&.checkbox {
			label {
				width: 83% !important;
				margin: 0px 0px 0px 36px;
				text-transform: none;
			}
			input {
				margin-top: -34px;
			}
		}
	}
	.mktoButtonRow {
		text-align: center;
		margin-top: 24px;
		.mktoButtonWrap {
			margin: 0px !important;
			button.mktoButton {
				font-size: 16px;
				line-height: 16px;
				color: #fff;
				font-weight: bold;
				background-color: #fa6423;
				border-radius: 999px;
				border: none;
				padding: 8px 24px;
				cursor: pointer;
				&:hover {
					background-color: #8cbe3c;
				}
			}
		}
	}
}

@media only screen and (min-width:768px){

	.embedded-marketo-form .mktoForm {
		.mktoFormRow {
			clear: none;
			width: 210px;
			margin-right: 10px;
		}
	}
}


@media only screen and (min-width:980px){

	.embedded-marketo-form .mktoForm {
		.mktoFormRow {
			clear: both;
			width: 100%;
			margin-right: 0px;
			label {
				display: none;
				padding-left: 0px;
			}
			&.select-dropdown,
			&.checkbox {
				label {
					display: block;
					text-transform: none;
				}
			}
		}
	}
}


@media only screen and (min-width:1060px){

	.embedded-marketo-form .mktoForm {
		.mktoFormRow {
			clear: none;
			width: 210px;
			margin-right: 10px;
			&.select-dropdown:nth-of-type(even) {	/* Intended as 'odd', but apparently there's a hidden one somewhere? So Weird. */
				clear: left;
			}
		}
	}
}



